In [21]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [22]:
educacion = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_1_postulantes_educacion.csv", low_memory=False)
genero_edad = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_2_postulantes_genero_y_edad.csv", low_memory=False)
visitas = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_3_vistas.csv", low_memory=False)
postulaciones = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_4_postulaciones.csv", low_memory=False)
avisos_online = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_5_avisos_online.csv", low_memory=False)
avisos_detalles = pd.read_csv("C:\Users\gonza\Downloads\dtos\datos_navent_fiuba\\fiuba_6_avisos_detalle.csv", low_memory=False)

In [23]:
educacion.head(1)

  idpostulante    nombre    estado
0         NdJl  Posgrado  En Curso

In [24]:
genero_edad.head(1)

  idpostulante fechanacimiento sexo
0         NM5M      1970-12-03  FEM

In [25]:
visitas.head(1)

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

In [26]:
postulaciones.head(1)

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34

In [27]:
avisos_online.head(1)
#no aporta nada, solo tiene ids

      idaviso
0  1112355872

In [28]:
#las columnas ciudad y mapacalle tienen demasiados NaN como para aportar alguna infromacion relevante
avisos_detalles.drop('ciudad', axis = 1, inplace = True)
avisos_detalles.drop('mapacalle', axis = 1, inplace = True)
avisos_detalles.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,VENTOR

In [29]:
#los df que tienen la info del postulante (sin relacion con el aviso)
edu_gen_edad = pd.merge(educacion, genero_edad, on = 'idpostulante', how = 'inner')
edu_gen_edad.head(1)

  idpostulante    nombre    estado fechanacimiento  sexo
0         NdJl  Posgrado  En Curso      1969-05-09  MASC

In [30]:
info_final = pd.merge(edu_gen_edad, visitas, on = 'idpostulante', how = 'inner')
info_final = pd.merge(info_final, postulaciones, on = 'idpostulante', how = 'inner')
#info_final = pd.merge(info_final, avisos_detalles, on = 'idpostulante', how = 'inner')
info_final.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idAviso,timestamp,idaviso,fechapostulacion
0,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112352879,2018-02-26T16:01:12.795-0500,1112261212,2018-01-16 08:50:30
1,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112352879,2018-02-26T16:01:12.795-0500,1112273308,2018-01-23 07:53:47
2,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112352879,2018-02-26T16:01:12.795-0500,1112281548,2018-01-24 05:10:12
3,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112352879,2018-02-26T16:01:12.795-0500,1112260409,2018-01-24 05:17:29
4,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112352879,2018-02-26T16:01:12.795-0500,1112293547,2018-01-29 15:41:43

In [64]:
vmed=7.2
((8.9-vmed)/8.9)*100

19.10112359550562

In [65]:
vmed=7.2
errm=0.8
(((8.9-vmed)/8.9)*(((errm+0.9)/(vmed+8.9))+(0.9/8.9)))*100

3.9484631230293563

In [62]:
vmed=7.2
imed=75
((8.9-vmed)/imed)*100

3.272727272727273

In [63]:
vmed=5.3
errm=0.8
imed=110
erri=20
(((8.9-vmed)/imed)*(((errm+0.9)/(vmed+8.9))+(erri/imed)))*100

0.39180537772087076